/* Idk why but with component's <style></style>
   CSS media queries don't work. */

/* @media (max-width: 575px) {
	#up-down-container {
		position: fixed;
		top: 88%;
		left: 90%;
		right: 90%;
	}
}

@media (max-width: 767px) {
	#up-down-container {
		position: fixed;
		top: 88%;
		left: 50%;
		right: 50%;
	}
}

@media (max-width: 991px) {
	#up-down-container {
		left: 94%;
	}
}

@media (max-width: 1199px) {
	#up-down-container {
		left: 96%;
	}
} */
